@font-face {
	font-family: 'NanumGothic';
	src: url("./fonts/Nanum_Gothic/NanumGothic-Regular.ttf");
}
@font-face {
	font-family: 'NanumPenScript';
	src: url("./fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf");
}


html, body{height: 100%; width: 100%;} /* Important for background height...*/
body{			   
	font: normal 14px "NanumPenScript", Helvetica, Arial, "sans-serif"; 
	color: #333;
    background-image: url(../images/bkgrd.jpg);
	background-size: cover;
	overflow-x: hidden;
}

h1{
	font: normal 3em "NanumGothic", Helvetica, Arial, "sans-serif"; 
}
p {
	font: normal 2.5em "NanumPenScript", Helvetica, Arial, "sans-serif"; 
	width: 8em;
}
#Main {
	position: absolute;
	left: 70%;
	top: 5%;
	background-color: #fff;
	padding: .25em 3em;
	border: 1px solid #999;
}
/* #Main{
	position: absolute;
	left: 70%;
	top: 5%;
} */

@media (max-width: 667px){
	h1{font-size: 1.5em;}
	p{font-size: 1.25em;}

}